{% extends "layout.html" %}
{% block content %}
<hr>
  <div align = "center">
    <h4><b>Insert a record</b></h4>
    <form action="/cassInsertRecord/{{id}}/{{secret}}" method="POST">
      <hr>
      <br>
      <table>
        <tr><td>Keyspace: </td><td><input type="text" name="keyspace" id="keyspace" size="40"></td></tr>
        <tr><td>Table Name:</td><td><input type="text" name="table" id="table" size="40"></td></tr>
        <tr><td>Table Attributes:</td><td><input type="text" name="attr" id="attr" size="40" placeholder="with brackets ()"></td></tr>
        <tr><td>Insert Data:</td><td><input type="text" name="data" id="data" size="40" placeholder="csv format with brackets ()"></td></tr>
        <tr><td colspan="10"><input type="submit" value="Proceed"></td></tr>
      </table>
    </form>
  </div>
{% endblock content %}