<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Databases iQuery - {{ title }}</title>
    {% else %}
        <title>Databases iQuery</title>
    {% endif %}
</head>
<body>
    {% block content %}{% endblock %}
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <a class="navbar-brand mr-30" href="/"
      style="padding-left: 4%; padding-right:4%; font-size: 25px; color:#ffffff">
      <b>Databases iQuery</b>
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size:18px;">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/" style="font-size:19px; font-weight: lighter;"><b>Home</b><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mysql" style="color:#ffffff; font-size:19px; font-weight: lighter;"><b>MySQL</b></a>
          </li>
          <li>
            <a class="nav-link" href="/mongodb" style="color:#ffffff; font-size:19px; font-weight: lighter;"><b>MongoDB</b></a>
          </li>
          <li>
            <a class="nav-link" href="/cassandra" style="padding-right: 30; color:#ffffff; font-size:19px; font-weight: lighter;"><b>Cassandra</b></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " style=" color:#ffffff; font-size:18px; font-weight: lighter;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About Me
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="https://github.com/Chandan220698">Github</a>
              <a class="dropdown-item" href="https://www.linkedin.com/in/chandan-kumar-ck111/">LinkedIn</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Chandan Kumar</a>
            </div>
          </li>
      </div>
      
    </nav>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>