{% extends "layout.html" %}
{% block content %}
<hr>
<div align = "center">
  <h4><b>Drop the Collection</b></h4>
  <form action="/md_drop/{{clientConn}}/{{clientURL}}" method="POST">
    <hr>
    <br>
    <table>
        <tr><td>Database:</td><td><input type="text" name="database" id="database" size="34"></td></tr>
        <tr><td>Collection:</td><td><input type="text" name="dbCollection" id="dbCollection" size="34"></td></tr>
        <tr><td colspan="10"><input type="submit" value="Drop"></td></tr>
    </table>
  </form>
</div>
{% endblock content %}